<!DOCTYPE html>
<html>
<head>
  <title>Achieve</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <header>
   <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
     </button>
    </div>
    <div class="collapse navbar-collapse" id="top-nav">
    <ul class="nav navbar-nav">
      <li class="dropdown-header"><%= link_to "Achieve", root_path %></li>
      <li class="dropdown-header"><%= link_to "トップページ", root_path %></li>
      <li class="dropdown-header"><%= link_to "お問い合わせ", new_contact_path %></li>
      <li class="dropdown-header"><%= link_to "ブログ", blogs_path %></li>
      <li class="dropdown-header"><%= link_to 'マイページ', edit_user_registration_path %></li>
      <% if user_signed_in? %>
        <li class="dropdown-header"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li class="dropdown-header"><%= link_to 'ログイン', new_user_session_path %></li>
        <li class="dropdown-header"><%= link_to 'サインアップ', new_user_registration_path %></li>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
 </nav><!-- /.container-fluid -->
  </header>

  <% flash.each do |key, value| %>

<% end %>

<%= yield %>

  <footer>
    <p>運営会社DIVE INTO CODE株式会社</p>
    <p>© 2015-2016 Copyright DIVE INTO CODE Corp.</p>
  </footer>

</body>
</html>
